<div class="row">
  <h1><%= link_to "Tom", "http://www.tomify.me", target: :_blank %>'s Missions</h1>
  <div class="col-md-6">
    <% @trips = @trips.page(params[:page]).per(24) %>
    <div class="text-center"><%= paginate @trips %></div>
    <% index = 0 %>
    <% @trips.each do |trip| %>
      <div class="row text-center">
        <div class="col-sm-12 margin-top-30 text-center">
          <h3><%= link_to trip.name, trip_path(trip.uid) %></h3>
          <% if trip.users.include?(current_user) %>
            <div class="margin-bottom-10">
              <%= link_to mission_images_path(current_user.username, trip.uid) do %>
                <span>Upload Images</span>
                <i class="fa fa-upload"></i>
              <% end %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-xs-6 text-right">
              <%= link_to trip_path(trip.uid) do %>
                <div class="inline-block"><%= image_tag trip.cover.thumbnail, width: 160, height: 160, class: "img-responsive center-block" %></div>
              <% end %>
            </div>
            <div class="col-xs-6 text-left">
              <p><%= trip.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="text-center"><%= paginate @trips %></div>
  </div>
  <div class="col-md-6">
    <%= render partial: "users/all" %>
  </div>
</div>
