<h1>Missions</h1>
<% @trips = @trips.page(params[:page]).per(24) %>
<div class="text-center"><%= paginate @trips %></div>
<div class="row">
  <% index = 0 %>
  <% @trips.each do |trip| %>
    <% if index != 0 && (index%2).zero? %></div><div class="row"><% end %>
    <div class="col-sm-6 margin-top-30 text-center">
      <h3><%= link_to trip.name, trip_path(trip.uid) %></h3>
      <% if trip.users.include?(current_user) %>
        <div class="margin-bottom-10">
          <%= link_to mission_images_path(current_user.username, trip.uid) do %>
            <span>Upload Images</span>
            <i class="fa fa-upload"></i>
          <% end %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-xs-6 text-right">
          <%= link_to trip_path(trip.uid) do %>
            <div class="inline-block"><%= image_tag trip.cover.thumbnail, width: 160, height: 160, class: "img-responsive center-block" %></div>
          <% end %>
        </div>
        <div class="col-xs-6 text-left">
          <p><%= trip.description %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="text-center"><%= paginate @trips %></div>
