<h1>Missions</h1>
<% @trips = @trips.page(params[:page]).per(24) %>
<div class="text-center"><%= paginate @trips %></div>
<div class="row">
  <% @trips.each_with_index do |trip, index| %>
    <div class="col-sm-3 col-xs-6 margin-top-30 text-center">
      <%= link_to trip_path(trip.uid) do %>
        <div class="inline-block"><%= image_tag trip.cover.thumbnail, width: 160, height: 160, class: "img-responsive center-block" %></div>
        <div><%= trip.name %></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center"><%= paginate @trips %></div>
