<h1>Missions</h1>
<% @trips = @trips.page(params[:page]).per(24) %>
<div class="text-center"><%= paginate @trips %></div>
<div class="row">
  <% @trips.each_with_index do |trip, index| %>
    <% if (index % 4).zero? && !index.zero? %>
      </div><div class="row margin-top-30">
    <% end %>
    <div class="col-md-3">
      <%= link_to trip_path(trip.id) do %>
        <div><%= image_tag trip.images.first.try(:link), class: "img-responsive" %></div>
        <div class="text-center"><%= trip.name %></div>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center"><%= paginate @trips %></div>
