<% content_for :meta_description do %><%= @trip.name %><% end %>
<% content_for :meta_image do %><%= @trip.cover.large %><% end %>
<h1><%= @trip.name %></h1>
<h4>
  <span><%= @trip.date_range %></span>
  <span> | <%= link_to "Imgur Album", @trip.album.link, target: :_blank %></span>
  <% if current_user && current_user.admin? %>
    <span> | <%= link_to "Edit", edit_trip_path(@trip.uid) %></span>
    <span> | <%= link_to "Edit Missionaries", trip_users_path(@trip.uid) %></span>
  <% end %>
  <% if @trip.users.include?(current_user) %>
    <span> | <%= link_to "Upload Images", mission_images_path(current_user.username, @trip.uid) %></span>
  <% end %>
</h4>
<div class="row">
  <div class="col-sm-4 col-sm-push-8">
    <% unless @trip.description.blank? %>
      <h4>Description</h4>
      <p><%= @trip.description %></p>
    <% end %>
    <h4>User's Images</h4>
    <div class="row">
      <% @trip.users.each do |user| %>
        <div class="col-sm-12">
          <%= link_to mission_path(username: user.username, trip_uid: @trip.uid) do %>
            <%= "#{user.name} (#{Image.where(user_id: user.id, trip_id: @trip.id).count})" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8 col-sm-pull-4 border-right">
    <% @images = @trip.images.page(params[:page]).per(24) %>
    <div class="text-center"><%= paginate @images %></div>
    <div class="row">
      <% @images.each_with_index do |image, index| %>
        <div class="col-md-3 col-sm-4 col-xs-6 margin-top-30">
          <%= link_to image_path(image.id), class: "margin-auto overlay-link", data: { large: image.large } do %>
            <%= image_tag image.thumbnail, class: "img-responsive center-block" %>
          <% end %>
          <%= link_to "#", class: "favorite-image", data: { image_id: image.id } do %>
            <%= fa_icon "2x heart#{"-o" unless current_user.favorites.exists?(image_id: image.id)}"%>
          <% end if current_user %>
        </div>
      <% end %>
    </div>
    <div class="text-center"><%= paginate @images %></div>
  </div>
</div>

<%= render partial: "layouts/partials/overlay" %>
