<div class="row">
  <div class="col-md-6">
    <h1>Sign Up</h1>
    <%= form_for :user, url: users_path do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h1>Sign In</h1>
    <%= form_for :session do |f| %>
      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
