<h1>Edit User</h1>
<%= form_for @missionary, method: :put do |f| %>
  <%= f.text_field :name, placeholder: "Name" %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.text_field :bio, placeholder: "Bio" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirmation" %>
  <%= f.submit "Save" %>
<% end %>

<h1>Add Image</h1>
<%= form_for :image, url: upload_profile_path, html: { multipart: true } do |f| %>
  <%= file_field_tag :image %>
  <%= f.submit "Save" %>
<% end %>
