<% content_for :meta_title do %><%= "#{@user.name}'s Missions" %><% end %>
<% content_for :meta_description do %><%= @user.bio %><% end %>
<% content_for :meta_image do %><%= @user.image.try(:link) %><% end %>
<div class="row">
  <div class="col-md-3">
    <%= link_to image_path @user.image.id do %>
      <%= image_tag @user.image.link, class: "img-responsive" %>
    <% end if @user.image %>
  </div>
  <div class="col-md-4">
    <h1 class="text-left"><%= @user.name %></h1>
    <div><b>Username:</b> <%= @user.username %></div>
    <div><b>Email:</b> <%= @user.email %></div>
    <div><b>Bio:</b> <%= @user.bio.blank? ? "None" : @user.bio %></div>
    <div class="btn-group">
      <% if current_user == @user %>
        <%= link_to "Add Trip", new_trip_path, class: "btn btn-primary" if current_user.admin? %>
        <%= link_to "Edit Profile", edit_me_path, class: "btn btn-primary" %>
      <% end %>
      <% if @user.favorites.exists? %>
        <%= link_to "Favorites", favorites_path(@user.id), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-5">
    <h1 class="text-left">Trips</h1>
    <div class="row">
      <% @user.trips.each_with_index do |trip, index| %>
        <% if (index % 3).zero? && !index.zero? %>
          </div><div class="row" style="margin-top: 30px;">
        <% end %>
        <div class="col-md-6">
          <%= link_to trip_path(trip.id) do %>
            <div><%= image_tag trip.images.first.try(:link), class: "img-responsive" %></div>
            <div class="text-center"><%= trip.name %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
