<h1><%= @trip.name %></h1>
<%= form_for @mission, url: mission_images_path, method: :post, html: { multipart: true, id: "file-upload" } do |f| %>
<% end %>
<div class="row">
  <div class="col-md-4 col-md-push-8">
    <div id="file-upload-dropzone">
      <span>Click here to upload your images!</span>
    </div>
    <div id="current-uploads"></div>
  </div>
  <% @images = @mission.images.page(params[:page]).per(24) %>
  <% unless @images.empty? %>
    <div class="col-md-8 col-md-pull-4 text-center">
      <%= paginate @images %>
      <div class="row">
        <% @images.each_with_index do |image, index| %>
          <div class="col-md-4 col-xs-6 margin-top-30 text-center">
            <%= image_tag image.thumbnail, class: "img-responsive center-block" %>
            <%= link_to "#", class: "favorite-image", data: { image_id: image.id } do %>
              <%= fa_icon "2x heart#{"-o" unless current_user.favorites.exists?(image_id: image.id)}"%>
            <% end if current_user %>
            <%= link_to "Remove", delete_mission_image_path(
              username: current_user.username,
              trip_uid: @trip.uid,
              id: image.id
            ), method: :delete %>
          </div>
        <% end %>
      </div>
      <%= paginate @images %>
    </div>
  <% end %>
</div>

<%= render partial: "layouts/partials/dropzone_template" %>
