<h1><%= @trip.name %></h1>
<%= form_for @mission, url: mission_images_path, method: :post, html: { multipart: true } do |f| %>
  <div class="row">
    <% @images = @mission.images.page(params[:page]) %>
    <% unless @images.empty? %>
      <div class="col-md-8">
        <%= paginate @images %>
        <div class="row">
          <% @images.each_with_index do |image, index| %>
            <% if (index % 3).zero? && !index.zero? %>
              </div><div class="row" style="margin-top: 30px;">
            <% end %>
            <div class="col-md-4">
              <%= image_tag image.link, class: "img-responsive" %>
            </div>
          <% end %>
        </div>
        <%= paginate @images %>
      </div>
    <% end %>
    <div class="col-md-4<%= " col-md-offset-4" if @mission.images.empty? %>">
      <div class="form-group">
        <%= file_field_tag "images[]", accept: "image/png,image/gif,image/jpeg", multiple: true, class: "form-control" %>
      </div>
      <div class="form-group">
        Please upload in small batches of 10 or less to ensure your request won't timeout and break everything.
      </div>
      <%= link_to mission_path(current_user.username, @trip.id), class: "btn btn-default pull-left" do %>
        <%= fa_icon("caret-left") %> back
      <% end %>
      <%= f.submit class: "btn btn-success pull-right" %>
    </div>
  </div>
<% end %>
