<% content_for :meta_title do %><%= "#{@user.name}'s Missions" %><% end %>
<% content_for :meta_description do %><%= @mission.trip.name %><% end %>
<% content_for :meta_image do %><%= @mission.images.first.try(:link) || @user.image.try(:link) %><% end %>
<h1><%= @trip.name %></h1>
<h4>
  <span><%= link_to @user.name, user_path(@user.username) %></span>
  <span> | <%= link_to "Imgur Album", @mission.album.link, target: :_blank %></span>
  <span> | <%= link_to "Trip", trip_path(@mission.trip_id) %></span>
  <% if current_user == @user %>
    <span> | <%= link_to "Edit Images", mission_images_path(@user.username, @mission.trip_id) %></span>
  <% end %>
</h4>
<% @images = @mission.images.page(params[:page]) %>
<div class="text-center"><%= paginate @images %></div>
<div class="row">
  <% @images.each_with_index do |image, index| %>
    <% if (index % 4).zero? && !index.zero? %>
      </div><div class="row" style="margin-top: 30px;">
    <% end %>
    <div class="col-md-3">
      <%= link_to image_path image.id do %>
        <%= image_tag image.link, class: "img-responsive" %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="text-center"><%= paginate @images %></div>
