- content_for :meta_title, "#{@user.name}'s Missions"
- content_for :meta_description, @mission.trip.name
- content_for :meta_image, (@mission.cover || @user.image).large
%h1= @trip.name
.btn-group.btn-group-justified.hidden-xs
  = link_to @user.name, user_path(@user.username), class: "btn btn-success"
  = link_to "Imgur Album", @mission.album.link, class: "btn btn-success", target: :_blank
  = link_to "Trip", trip_path(@mission.trip.uid), class: "btn btn-success"
  - if current_user == @user
    = link_to "Upload", mission_images_path(@user.username, @mission.trip.uid), class: "btn btn-success"
.visible-xs
  = link_to @user.name, user_path(@user.username), class: "btn btn-success btn-block"
  = link_to "Imgur Album", @mission.album.link, class: "btn btn-success btn-block", target: :_blank
  = link_to "Trip", trip_path(@mission.trip.uid), class: "btn btn-success btn-block"
  - if current_user == @user
    = link_to "Upload", mission_images_path(@user.username, @mission.trip.uid), class: "btn btn-success btn-block"
- @images = @mission.images.page(params[:page]).per(24)
.text-center= paginate @images
.row.margin-top-30
  - @images.each_with_index do |image, index|
    .col-md-3.margin-top-30
      = link_to image_path(image.id), class: "overlay-link", data: { large: image.large } do
        = image_tag image.thumbnail, class: "img-responsive center-block"
      - if current_user
        = link_to "#", class: "favorite-image", data: { image_id: image.id } do
          = fa_icon "2x fw heart#{"-o" unless current_user.favorites.exists?(image_id: image.id)}"
      = link_to fa_icon("2x fw play"), image_path(image.id), class: "view-image"
.text-center= paginate @images

= render "layouts/partials/overlay"
