<% user = @image.user %>
<% trip = @image.trip %>
<% if user %>
  <% content_for :meta_title do %><%= "#{user.name}'s Missions" %><% end %>
<% end %>
<% content_for :meta_description do %><%= trip.try(:name) %><% end %>
<% content_for :meta_image do %><%= @image.link %><% end %>
<h1>
  <%= link_to(trip.name, trip_path(trip.id)) + " - " if trip %>
  <%= link_to user.name, user_path(username: user.username) if user %>
</h1>
<div class="row text-center">
  <div class="col-md-12">
    <%= image_tag @image.link, class: "img-responsive" %>
    <%= link_to "#", class: "favorite-image", data: { image_id: @image.id } do %>
      <%= fa_icon "2x heart#{"-o" unless current_user.favorites.exists?(image_id: @image.id)}"%>
    <% end if current_user %>
  </div>
</div>
