- user = @image.user
- trip = @image.trip
- if user %>
  - content_for :meta_title, "#{user.name}'s Missions"
- content_for :meta_description, trip.try(:name)
- content_for :meta_image, @image.large
%h1
  = link_to(trip.name, trip_path(trip)) + " - " if trip
  = link_to(user.name, user_path(username: user.username)) if user
  - if current_user
    = "-"
    = link_to "#", class: "favorite-link", data: { image_id: @image.id } do
      = fa_icon "heart#{"-o" unless current_user.favorites.exists?(image_id: @image.id)}"
.row.text-center
  .col-xs-12= image_tag @image.large, class: "img-responsive center-block"
