%head
  - title = content_for(:meta_title) ? yield(:meta_title) : "Tom's Missions"
  - description = content_for(:meta_description) ? yield(:meta_description) : "Let's make the world a better place"
  - image = content_for(:meta_image) ? yield(:meta_image) : asset_url("logo.jpg")

  %title= title
  %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %link(rel="canonical" href="#{request.original_url}")
  %meta(name="description" content="#{description}")

  %meta(property="og:type" content="website")
  %meta(property="og:title" content="#{title}")
  %meta(property="og:description" content="#{description}")
  %meta(property="og:image" content="#{image}")
  %meta(property="og:url" content="#{request.original_url}")
  %meta(name="twitter:card" content="summary")
  %meta(name="twitter:site" content="@tomprats")
  %meta(name="twitter:title" content="#{title}")
  %meta(name="twitter:description" content="#{description}")
  %meta(name="twitter:image" content="#{image}")
  %meta(name="twitter:url" content="#{request.original_url}")

  %link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
  %link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
  %link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
  %link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
  %link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
  %link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
  %link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
  %link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
  %link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
  %link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
  %link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
  %link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
  %link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
  %link(rel="manifest" href="/manifest.json")
  %meta(name="msapplication-TileColor" content="#42B755")
  %meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
  %meta(name="theme-color" content="#42B755")

  = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Cabin"
  = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
  = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags
