<head>
  <title>TomsMissions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="<%= request.original_url %>">
  <meta name="description" content="Let's see what we can do!">

  <% title = content_for(:meta_title) ? yield(:meta_title) : "Tom's Missions" %>
  <% description = content_for(:meta_description) ? yield(:meta_description) : "Let's make the world a better place" %>
  <% image = content_for(:meta_image) ? yield(:meta_image) : asset_url("tp.png") %>
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<%= image %>">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tomprats">
  <meta name="twitter:title" content="<%= title %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:image" content="<%= image %>">
  <meta name="twitter:url" content="<%= request.original_url %>">

  <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Cabin" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag       "favicon.ico" %>
  <%= csrf_meta_tags %>
</head>
