<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body class="<%= "#{action_name} #{controller_name} #{controller_name}-#{action_name}" %>">
    <%= render "layouts/navbar" %>
    <div class="layout-container container-fluid">
      <%= yield %>
      <%= link_to image_tag("tp.png"), root_path, class: "footer-link" %>
      <div class="love-link">Made with <%= link_to "Love", "http://www.tomprats.com/love" %></div>
    </div>
  </body>
</html>
